@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;

}

header{
    z-index: 95 !important;
    overflow: hidden;
    width: 100%;
    position: fixed;
    display: inline;
}

footer{
    height:10%;
}

h1{
    font-size: 1.5em;

}

.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

nav a {
    /* background-color: blue;*/
    font-weight:800;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

}

/*navs list of destinations*/
nav ul a{
    color: #000411;
}

nav {
    z-index: 93 !important;
    height: 75px !important;
    line-height: 75px !important;
    position: sticky;
    overflow: hidden;
}

nav div {
    font-weight:800;
}

nav ul a:hover {
    background-color: rgba(38,169,108,0.1) !important;
}

nav {
    background-color: rgba(0,0,0,0) !important;

}


.nav-wrapper {
    /* background-color: rgba(245,245,245,0.9) !important; */
}
/
.nav-wrapper.nav-white{
     transition: background-color 0.4s ease;
    background-color: rgb(255,255,255,0.5);
}

.nav-wrapper.nav-green{
     transition: background-color 0.4s ease;
    background-color: rgb(248,248,255,0.5);
}


.blink_me {
    animation: blinker 1.25s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.scroll-text{
    color:#000411;
}
.title{
    font-size: 4.6em;
    font-weight:700;
    padding-top: 5%;
    margin-bottom: 5vh;

    text-align: center;
}
.contact-title{

  font-size: 4em;
  font-weight:700;
  padding-top: 26%;

}

.contact-title-small{
  font-size: 3em;
  font-weight:700;
  color: #696969;
}

.contact-text{
  padding-top: 3%;
  font-size: 2.5em;
  font-weight:700;
  color: #696969;

}
.contact-text:hover {

}
.about-text{
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    padding-bottom:0.8rem;


    color: #696969;
}

.exp-title{
    font-size: 1.3em;
    font-weight:500;
    margin-bottom: 5vh;

    text-align: center;
    color: #808080;

}

.work-text{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: #696969;
  margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.footer-text{

  font-weight:600;

}

.text-highlight{
    color: #26A96C;

}

.headshot{
  margin-top: 45%;
    margin-bottom: 2rem;

}

/* navs class*/
/* .nav-wrapper{
background-color: #F5F5F5;
} */



.brand-logo{
    padding-left: 0.4em !important;
    color: 000411 !important;

}

.resume{
  font-size: 1.5em;
  background-color: #26A96C;
  color: #f8f8ff;
  display: inline-block;
  font-weight:600;
  margin: auto;
  text-align: center;
  padding: 15px;
	margin-top:5% ;
  margin-left: 40%;
	border: 1.5px solid #f8f8ff;
	width: 20%;
  border-radius: 0.8rem;
  transition: transform .2s; /* Animation */
}

.resume:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.home-welcome{
    background-color: #FFFFFF;
    z-index: -500;
    /*
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    */
    height: 100%;
    width: 100%;
    position: relative;


}

.home-about{
    background-color: #f8f8ff  ;
    height: 100%;
}

.home-exp{
    background-color: #FFFFFF;
    height: 190%;
    position: relative;
}

.home-work{
    background-color: #f8f8ff/*#C6DABF back up old green*/  ;
    height: 100%;
}


.home-contact{
    background-color: #FFFFFF;
    height: 100%;
}



.page-footer{
  background-color: #26A96C !important;
}
/* Tester for circle logo on experiece(decided to go with images but good backup mockup)
.circle2 {
border-radius: 50%;
width:375px;
height:auto;
padding-top: 375px;

background-color: #1D7874;
transform: translateX(33%);
transition: transform .2s;
position: inherit;
display: inline-block;

}

.circle2:hover {
background-color: rgba(0,200,0,0.1);
opacity: 0.5;
transform: scale(1.2);
transform-style: preserve-3d;
z-index: -10;
}

.clip-circle {
clip-path: circle(190px at center);
}
*/

html {
    overflow-x: hidden;
}


.hoverman {
    transition: 0.3s transform ease-in-out !important;
    transform: scale(1.1) !important;
    transform-style: preserve-3d;
    z-index: -10;


}

.ccswirls:hover {
    transform: scale(1.2) !important;
    left: 0;
}

.hover-text{
    z-index:100;
    position: absolute ;
    left:;
    bottom:25%;
    font-size: 3em;
    font-weight:700;
    margin-bottom: 5vh;
    text-transform: uppercase;
    text-align: center;
}


.center {
    text-align: center;
    vertical-align: middle;
}
.skill-main-title{
    font-size: 2.6em;
    font-weight:700;
    text-align: center;
    padding-bottom: 1.5em;
    margin-top: 5%;

}
.skill-title{
    font-size: 2em;
    font-weight:700;
    text-align: center;

}
.work-temp{
  font-size: 2em;
  font-weight:700;
  text-align: center;
  padding-top: 8%;
}

.work-rectangle {
  margin-top: 2rem;
   transition: transform .2s; /* Animation */
   border-radius: 1rem;
}

.work-rectangle:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>

.skill-text{
    font-size: 1.3em;
    font-weight:500;
    color: #808080;

}
.tabs{
    background-color: rgba(0, 0, 0, 0) !important;
    text-align: center;
}
.tabs  a{
    color: black !important;
    font-size: 1.3em !important;
    font-weight:700;


}

.tabs  a:hover{
    background-color: transparent;
    color: #696969 !important;

}


#rcorners1 {
    border-radius: vw;
    background: #66CC99 ;
    padding: 20px;
    height: 40%;
    top: 3vw;
    position: relative;
    width: 100%;
}




/*Home screen intro Start */
#mini-bio{
    position: absolute;
    top: 45%;
    width: 100%;
    display: inline;
    text-align: center;

}
.mini-bio-text{
    color: #808080;
    transition: opacity 1.2s ease-in-out;
    transition-delay: 0.5s;
    font-size: 12px;
}

.mini-bio-text.hidden{
    opacity: 0;
}

.exp-img{
    width:10%;
    height:auto;
}

.text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;

        border-bottom: 1px solid #000411; /*We gonna leave this for now see how i feel*/
    /*  background-color: yellow; */

    text-align: center;
}


.text.hidden {
    border-bottom: 1px solid #000411;
}

.text li {
    display: inline-block;
    float: left;
    font-weight: 350;
    font-size: 3.4em;
    color: #000411;
    opacity: 1;
    transition: all 1.5s ease-in-out;
    max-width: 2em;
}
.text.hidden li.spaced {
    padding-left: 0;

}
.text li.spaced {
    padding-left: 0.5em;
}

.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}
/*Home screen intro END*/

@keyframes float {
    0% {

        transform: translatey(0px);
    }
    50% {

        transform: translatey(-15px);
    }
    100% {

        transform: translatey(0px);
    }
}



.avatar:hover {
   animation: float 4.5s ease-in-out infinite;
}


/*Scroll Prompt Start */

#section03 { background: url(https://picsum.photos/1200/800?image=869) center center / cover no-repeat;}

.scroll-text{

}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
}

.demo {
    transition: opacity .5s ease-in-out;
}

.hide-prompt {
    opacity: 0;
}

.show-prompt {
    opacity: 1;
}

.demo a:hover {
    opacity: .5;
}

#section03 a {
    padding-top: 60px;
}
#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #26A96C;
    border-radius: 100%;
    box-sizing: border-box;
}
#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #26A96C;
    border-bottom: 1px solid #26A96C;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(38,169,108,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(38,169,108,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(0,0,0,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*Scroll Prompt End */


/*Responsivenesss*/
.Mobile-Hide {display: }
.Mobile-Show {display: none}
.Tablet-Hide {display: }
.Tablet-Show {display: none}

@media only screen and (max-width:375px) and (max-height:700px){ /*small phone portrait*/
  .Mobile-Hide {display: none}
  .Mobile-Show {display: inline}

    .text {
      top:40% !important;
        font-size: 33px;
    }

    .title{
      font-size: 40px;
      margin-bottom: 1vh;
    }
    .about-text{
      font-size: 20px !important;
    }


    .contact-title{
      padding-top: 40%;
    }
    .home-welcome{
        height: 100%;

    }

    .home-about{
        height: 65%;

    }

    .home-exp{
        height: 55%;
        font-size: 0.6rem;
    }

    .home-work{
        height: 55%;
    }

    .home-contact{
      height: 100%;
      font-size: 0.6rem!important;
    }

    .case-name{
      font-size: 1.5rem;
    }
    .case-description{
      font-size: 1rem;
    }

    .case-text{
      font-size: 1rem;
    }
    .case-titles{
      font-size: 1.2rem;
    }
  .Case-header{
    height:20%;
  }
.Case-Problem{
  padding-top:5rem;
  height: 65%;
}
  .Case-intro{
    height:40%;
    padding-top:8rem;
  }

  .Case-Process{
    height:455%;
    padding-top:5rem;

  }

.Case-Solution{
  padding-top: 3rem;
  height: 325%;
}

.Case-Conclusion{
  height: 70%;
}

}

@media only screen  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){ /*phone portrait*/
  .Mobile-Hide {display: none}
  .Mobile-Show {display: inline}

    .text {
      top:41%;
        font-size: 33px;
    }

    .title{
      font-size: 40px;
      margin-bottom: 1vh;
    }
    .about-text{
      font-size: 25px;
    }

    .skill-title{
      font-size: 1em;
    }

    .skill-text{
      font-size: 1em;
    }
    .contact-title-small{
      padding-bottom: 1em;
    }

    .exp-title{

      margin-bottom: 0.5vh;
    }
    .resume{
      padding: 15px;
      margin-left: 25%;
    	width: 50%;
    }

    .contact-title{
      padding-top: 40%;
    }
    .home-welcome{
        height: 100%;

    }

    .home-about{
        height: 80%;
    }

    .home-exp{
        height: 65%;
        font-size: 0.6rem;
    }

    .home-work{
        height: 45%;
    }

    .home-contact{
      height: 110%;
      font-size: 0.80rem;
    }



    .case-name{
      font-size: 1.5rem;
    }
    .case-description{
      font-size: 1rem;
    }

    .case-text{
      font-size: 1rem;
    }
    .case-titles{
      font-size: 1.2rem;
    }
  .Case-header{
    height:20%;
  }
.Case-Problem{
  padding-top:5rem;
  height: 65%;
}
  .Case-intro{
    height:40%;
    padding-top:8rem;
  }

  .Case-Process{
    height:375%;
    padding-top:5rem;

  }

.Case-Solution{
  padding-top: 3rem;
  height: 275%;
}

.Case-Conclusion{
  height: 60%;
}


}

@media only screen and (max-height: 750px) and (min-width: 400px) and (max-width:450px){ /*phone large portrait*/
  .Mobile-Hide {display: none}
  .Mobile-Show {display: inline}

    .text {
      top:41%;
        font-size: 33px;
    }



    .title{
      font-size: 40px;
      margin-bottom: 1vh;
    }
    .about-text{
      font-size: 25px;
    }

    .skill-title{
      font-size: 1em;
    }

    .skill-text{
      font-size: 1em;
    }
    .contact-title-small{
      padding-bottom: 1em;
    }

    .exp-title{

      margin-bottom: 0.5vh;
    }
    .resume{
      padding: 15px;
      margin-left: 25%;
    	width: 50%;
    }

    .contact-title{
      padding-top: 40%;
    }
    .home-welcome{
        height: 100%;

    }

    .home-about{
        height: 60%;
    }

    .home-exp{
        height: 50%;
        font-size: 0.6rem;
    }

    .home-work{
        height: 55%;
    }

    .home-contact{
      height: 110%;
      font-size: 0.80rem;
    }



    .case-name{
      font-size: 1.5rem;
    }
    .case-description{
      font-size: 1rem;
    }

    .case-text{
      font-size: 1rem;
    }
    .case-titles{
      font-size: 1.2rem;
    }
  .Case-header{
    height:30%;
  }
.Case-Problem{
  padding-top:5rem;
  height: 75%;
}
  .Case-intro{
    height:40%;
    padding-top:8rem;
  }

  .Case-Process{
    height:400%;
    padding-top:5rem;

  }

.Case-Solution{
  padding-top: 3rem;
  height: 315%;
}

.Case-Conclusion{
  height: 60%;
}
}


@media only screen and (min-width:450px) and (max-width: 830px) and (max-height: 450px){ /*phone landscape*/
  .Mobile-Hide {display: none}
  .Mobile-Show {display: inline}

  .text {
    top:38%;
      font-size: 33px;
  }

  .title{
    font-size: 40px;
    margin-bottom: 1vh;
  }
  .about-text{
    font-size: 25px;
  }

  .skill-title{
    font-size: 1em;
  }

  .skill-text{
    font-size: 1em;
  }
  .contact-title-small{
    padding-bottom: 1em;
  }

  .exp-title{

    margin-bottom: 0.5vh;
  }
  .resume{
    padding: 15px;
    margin-left: 25%;
    width: 50%;
  }

  .contact-title{
    padding-top: 20%;
  }
  .home-welcome{
      height: 100%;

  }

  .home-about{
      height: 125%;
  }

  .home-exp{
      height:120%;
      font-size: 0.6rem;
  }

  .home-work{
      height: 150%;
  }

  .home-contact{
    height: 150%;
    font-size: 0.80rem;
  }


  .case-name{
    font-size: 1.5rem;
  }
  .case-description{
    font-size: 1rem;
  }

  .case-text{
    font-size: 1rem;
  }
  .case-titles{
    font-size: 1.2rem;
  }
.Case-header{
  height:150%;
}
.Case-Problem{
padding-top:5rem;
height: 100%;
}
.Case-intro{
  height:40%;
  padding-top:1rem;
}

.Case-Process{
  height:825%;
  padding-top:5rem;

}

.Case-Solution{
padding-top: 3rem;
height: 975%;
}

.Case-Conclusion{
height: 100%;
}




}

@media only screen and (min-width:700px) and (max-width: 800px) and (max-height: 450px){ /*phone large landscape*/
  .Mobile-Hide {display: none}
  .Mobile-Show {display: inline}

  .text {
    top:38%;
      font-size: 33px;
  }

  .title{
    font-size: 40px;
    margin-bottom: 1vh;
  }
  .about-text{
    font-size: 25px;
  }

  .skill-title{
    font-size: 1em;
  }

  .skill-text{
    font-size: 1em;
  }
  .contact-title-small{
    padding-bottom: 1em;
  }

  .exp-title{

    margin-bottom: 0.5vh;
  }
  .resume{
    padding: 15px;
    margin-left: 25%;
    width: 50%;
  }

  .contact-title{
    padding-top: 20%;
  }
  .home-welcome{
      height: 100%;

  }

  .home-about{
      height: 125%;
  }

  .home-exp{
      height:120%;
      font-size: 0.6rem;
  }

  .home-work{
      height: 120%;
  }

  .home-contact{
    height: 150%;
    font-size: 0.80rem;
  }


  .case-name{
    font-size: 1.5rem;
  }
  .case-description{
    font-size: 1rem;
  }

  .case-text{
    font-size: 1rem;
  }
  .case-titles{
    font-size: 1.2rem;
  }
.Case-header{
  height:120%;
}
.Case-Problem{
padding-top:5rem;
height: 90%;
}
.Case-intro{
  height:40%;
  padding-top:2rem;
}

.Case-Process{
  height:715%;
  padding-top:5rem;

}

.Case-Solution{
padding-top: 3rem;
height: 815%;
}

.Case-Conclusion{
height: 80%;
}
}



@media only screen and (min-width:700px) and (max-width:1050px) and (min-height:900px) and (max-height: 1200px){ /*tablet portrait */
  .Tablet-Hide {display: none}
  .Tablet-Show {display: inline}

  .title{
      margin-bottom: 1vh;
  }

  .home-welcome{
      height: 100%;
      font-size: 4em;
  }
  .mini-bio-text{
    font-size: 0.5em !important;
  }
  .home-about{
      height: 70%;
  }

  .home-exp{
      height: 100%;
      font-size: 0.7rem;
  }

  .home-work{
      height: 55%;
  }

  .home-contact{
    height: 80%;

  }


.Case-header{
  height:40%;
}
.Case-Problem{
padding-top:5rem;
height: 65%;
}
.Case-intro{
  height:45%;
  padding-top:8rem;
}

.Case-Process{
  height:450%;
  padding-top:5rem;

}

.Case-Solution{
padding-top: 3rem;
height: 250%;
}

.Case-Conclusion{
height: 100%;
}
}

@media only screen and (min-width:700px) and (max-width:1050px) and (min-height:1200px) and (max-height: 1400px){ /*tablet large portrait  */
  .Tablet-Hide {display: none}
  .Tablet-Show {display: inline}

  .text{
    top:42%;
  }

  .title{
      margin-bottom: 1vh;
  }

  .resume{
    margin-left:35%;
    width:30%;
  }

  .home-welcome{
      height: 100%;
      font-size: 4em;
  }
  .mini-bio-text{
    font-size: 0.5em !important;
  }
  .home-about{
      height: 70%;
  }

  .home-exp{
      height: 100%;
      font-size: 1rem;
  }

  .home-work{
      height: 45%;
  }

  .home-contact{
    height: 70%;
    font-size: 1.1em;

  }


  .Case-header{
    height:50%;
  }
  .Case-Problem{
  padding-top:5rem;
  height: 45%;
  }
  .Case-intro{
    height:35%;
    padding-top:8rem;
  }

  .Case-Process{
    height:350%;
    padding-top:5rem;

  }

  .Case-Solution{
  padding-top: 5rem;
  height: 210%;
  }

  .Case-Conclusion{
  height: 65%;
  }
}

  @media only screen and (min-width:900px) and (max-width:1400px) and (min-height:700px) and (max-height: 899px){ /*tablet landscape */
    .Tablet-Hide {display: none}
    .Tablet-Show {display: inline}

    .title{
        margin-bottom: 1vh;
    }


    .home-welcome{
        height: 100%;
        font-size: 4em;
    }

    .mini-bio-text{
      font-size: 0.5em !important;
    }
    .home-about{
        height: 100%;
    }

    .home-exp{
        height: 150%;
        font-size: 0.8rem;
    }

    .home-work{
        height: 80%;
    }

    .home-contact{
      height: 100%;

    }


    .Case-header{
      height:80%;
    }
    .Case-Problem{
    padding-top:5rem;
    height: 75%;
    }
    .Case-intro{
      height:55%;
      padding-top:8rem;
    }

    .Case-Process{
      height:610%;
      padding-top:5rem;

    }

    .Case-Solution{
    padding-top: 10rem;
    height: 380%;
    }

    .Case-Conclusion{
    height: 120%;
    }
}

@media only screen and (min-width:900px) and (max-width:1400px) and (min-height:900px) and (max-height: 1050px){ /*tablet large landscape */
  .Tablet-Hide {display: none}
  .Tablet-Show {display: inline}

  .title{
      margin-bottom: 1vh;
  }



  .home-welcome{
      height: 100%;
      font-size: 4em;
  }

  .mini-bio-text{
    font-size: 0.5em !important;
  }
  .home-about{
      height: 85%;
  }

  .home-exp{
      height: 150%;
      font-size: 1.1rem;
  }

  .home-work{
      height: 80%;
  }

  .home-contact{
    font-size: 1.1em;
    height: 85%;

  }

  .Case-header{
    height:80%;
  }
  .Case-Problem{
  padding-top:5rem;
  height: 55%;
  }
  .Case-intro{
    height:45%;
    padding-top:8rem;
  }

  .Case-Process{
    height:465%;
    padding-top:5rem;

  }

  .Case-Solution{
  padding-top: 8rem;
  height: 350%;
  }

  .Case-Conclusion{
  height: 80%;
  }
}
