@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;

}

header{
    z-index: 95 !important;
    overflow: hidden;
    width: 100%;
    position: fixed;
    display: inline;
}

h1{
    font-size: 1.5em;

}

nav a {
    /* background-color: blue;*/
    font-weight:800;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

}

/*navs list of destinations*/
nav ul a{
    color: #000411;
}

nav {
    z-index: 93 !important;
    height: 75px !important;
    line-height: 75px !important;
    position: sticky;
    overflow: hidden;
}

nav div {
    font-weight:800;
}

nav ul a:hover {
    background-color: rgba(0,200,0,0.1) !important;
}

nav {
    background-color: rgba(0,0,0,0) !important;
    
}

.nav-wrapper {
    /* background-color: rgba(245,245,245,0.9) !important; */
}

.nav-wrapper.nav-white{
     transition: background-color 0.4s ease;
    background-color: rgb(245,245,245,0.5);
}

.nav-wrapper.nav-green{
     transition: background-color 0.4s ease;
    background-color: rgb(143,188,143,0.5);
}


.blink_me {
    animation: blinker 1.25s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.scroll-text{
    color:#000411;
}
.title{
    font-size: 4.6em;
    font-weight:700;
    padding-top: 2%;
    margin-bottom: 5vh;
    text-transform: uppercase;
    text-align: center;
}


.about-text{
    font-size: 2.8em;
    font-weight: 500;
    text-align: center;
    padding-top:2em;
    padding-bottom:0.8em;
    padding-left: 15%;
    padding-right:15%;
    color: white;
}

.exp-title{
    font-size: 1.3em;
    font-weight:500;
    margin-bottom: 5vh;
    text-transform: uppercase;
    text-align: center;
    color: #808080;

}

.text-highlight{
    color: #98FB98;

}

.headshot{
    padding-left: 26%;

}

/* navs class*/
/* .nav-wrapper{
background-color: #F5F5F5;
} */



.brand-logo{
    padding-left: 0.4em !important;
    color: 000411 !important;

}

.home-welcome{
    background-color: #F5F5F5;
    z-index: -500;
    /*
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    */
    height: 100%;
    width: 100%;
    position: relative;


}

.home-about{
    background-color: #8FBC8F  ;
    height: 105%;
}

.home-exp{
    background-color: #F5F5F5;
    height: 175%;
    position: relative;
}

.home-work{
    background-color: #8FBC8F/*#C6DABF back up old green*/  ;
    height: 80%;
}


/* Tester for circle logo on experiece(decided to go with images but good backup mockup)
.circle2 {
border-radius: 50%;
width:375px;
height:auto;
padding-top: 375px;

background-color: #1D7874;
transform: translateX(33%);
transition: transform .2s;
position: inherit;
display: inline-block;

}

.circle2:hover {
background-color: rgba(0,200,0,0.1);
opacity: 0.5;
transform: scale(1.2);
transform-style: preserve-3d;
z-index: -10;
}

.clip-circle {
clip-path: circle(190px at center);
}
*/

html {
    overflow-x: hidden;
}


.hoverman {
    transition: 0.3s transform ease-in-out !important;
    transform: scale(1.1) !important;
    transform-style: preserve-3d;
    z-index: -10;


}

.ccswirls:hover {
    transform: scale(1.2) !important;
    left: 0;
}

.hover-text{
    z-index:100;
    position: absolute ;
    left:;
    bottom:25%;
    font-size: 3em;
    font-weight:700;
    margin-bottom: 5vh;
    text-transform: uppercase;
    text-align: center;
}


.center {
    text-align: center;
    vertical-align: middle;
}
.skill-main-title{
    font-size: 2.6em;
    font-weight:700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1.5em;
    margin-top: 5%;

}
.skill-title{
    font-size: 2em;
    font-weight:700;
    text-align: center;

}
.skill-text{
    font-size: 1.3em;
    font-weight:500;

    color: #808080;

}
.tabs{
    background-color: rgba(0, 0, 0, 0) !important;
    text-align: center;
}
.tabs  a{
    color: black !important;
    font-size: 1.3em !important;
    font-weight:700;


}

.tabs  a:hover{
    background-color: transparent;
    color: #696969 !important;

}
#rcorners1 {
    border-radius: vw;
    background: #66CC99 ;
    padding: 20px;
    height: 40%;
    top: 3vw;
    position: relative;
    width: 100%;


}




/*Home screen intro Start */
#mini-bio{
    position: absolute;
    top: 45%;
    width: 100%;
    display: inline;
    text-align: center;

}
.mini-bio-text{
    color: #808080;
    transition: opacity 1.2s ease-in-out;
    transition-delay: 0.5s;
    font-size: 1.2em;
}

.mini-bio-text.hidden{
    opacity: 0;
}

.exp-img{
    width:10%;
    height:auto;
}

.text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;

        border-bottom: 1px solid #000411; /*We gonna leave this for now see how i feel*/
    /*  background-color: yellow; */

    text-align: center;
}


.text.hidden {
    border-bottom: 1px solid #000411;
}

.text li {
    display: inline-block;

    float: left;
    font-weight: 300;
    font-size: 3.4em;
    color: #000411;
    opacity: 1;
    transition: all 1.5s ease-in-out;
    max-width: 2em;
}
.text.hidden li.spaced {
    padding-left: 0;

}
.text li.spaced {
    padding-left: 0.5em;
}

.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}
/*Home screen intro END*/

@keyframes float {
    0% {

        transform: translatey(0px);
    }
    50% {

        transform: translatey(-15px);
    }
    100% {

        transform: translatey(0px);
    }
}



.avatar {
    animation: float 4.5s ease-in-out infinite;
}


/*Scroll Prompt Start */

#section03 { background: url(https://picsum.photos/1200/800?image=869) center center / cover no-repeat;}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
}

.demo {
    transition: opacity .5s ease-in-out;
}

.hide-prompt {
    opacity: 0;
}

.show-prompt {
    opacity: 1;
}

.demo a:hover {
    opacity: .5;
}

#section03 a {
    padding-top: 60px;
}
#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid black;
    border-radius: 100%;
    box-sizing: border-box;
}
#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(0,0,0,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(0,0,0,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*Scroll Prompt End */
