@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Muli', sans-serif;

}

header{
  overflow: hidden;
  width: 100%;
  position: fixed;
  display: inline;
}

h1{
  font-size: 1.5em;

}

nav a {
  /* background-color: blue;*/
  font-weight:800;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

}

/*navs list of destinations*/
nav ul a{
    color: #000411;
}

nav {
  height: 75px !important;
  line-height: 75px !important;
}

nav div {
  font-weight:800;
}

.blink_me {
  animation: blinker 1.25s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.scroll-text{
  color:#000411;
}
.title{
  font-size: 5em;
  font-weight:700;
  margin-bottom: 5vh;
  text-transform: uppercase;
  text-align: center;
}

.about-text{
  font-size: 2.8em;
  font-weight: 600;
  text-align: center;
  padding-top:0.8em;
  padding-bottom:0.8em;
  padding-left: 5.5em;
  padding-right:5.5em;

}

.text-highlight{
  color: #1D7874;


}

.headshot{
  padding-left: 26%;

}

  /* navs class*/
.nav-wrapper{
  background-color: #F5F5F5;
}

nav ul a:hover {
    background-color: rgba(0,200,0,0.1) !important;
}

.brand-logo{
  padding-left: 0.4em !important;
  color: 000411 !important;

}

.home-welcome{
  background-color: #F5F5F5;
   z-index: -1;
  /*
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  */
  height: 100%;
  width: 100%;
  position: relative;


}

.home-about{
  background-color: #C6DABF  ;
  height: 95%;
}

.home-exp{
  background-color: #F5F5F5;
  height: 80%;

}

.home-work{
  background-color: #C6DABF  ;
  height: 80%;

}


/*Home screen intro Start */


.text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
/*  background-color: yellow; */

  text-align: center;
}

.text.hidden {
  border-bottom: 1px solid #000411;
}

.text li {
  display: inline-block;

  float: left;
  font-weight: 300;
  font-size: 4.35em;
  color: #000411;
  opacity: 1;
  transition: all 1.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;

}
.text li.spaced {
  padding-left: 0.5em;

}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
/*Home screen intro END*/




/*Scroll Prompt Start */

#section03 { background: url(https://picsum.photos/1200/800?image=869) center center / cover no-repeat;}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
}

.demo {
  transition: opacity .5s ease-in-out;
}

.hide-prompt {
  opacity: 0;
}

.show-prompt {
  opacity: 1;
}

.demo a:hover {
  opacity: .5;
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0,0,0,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(0,0,0,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(0,0,0,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*Scroll Prompt End */
